body {
   /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;*/
    background-color:#5eaedd ;
    background: url(full_nat-fishing-gear-blog.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    }

h1,h2,h3{
    font-family: 'PT Sans', sans-serif; ;
    font-weight: 700;
    color:#100218 ;
}

.navbar{
    background-color: blue;
}

.wrapper{
    width: 420px;
    background: transparent;
    border: 3px solid rgb(207, 194, 152);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;

}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 90%;
    height: 70%;
    border: 2px solid;
    border-radius: 40px;

}

.wrapper .btn {
    width: 60%;
    height: 40px;
    background: rgb(54, 109, 182);
    border: none;
    outline: none;
    border-radius: 40px ;
    text-align: center;
    font-size: 16;
    color: beige;
    font-weight: 600px;
}


.register-link p a{
    font-weight: 600;
    color: rgba(236, 236, 236, 0.938);
}

.register-link p a:hover{
text-decoration: underline;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-weight: 500;
    color: aliceblue;
}


